{% load static %}
<div class="flex flex-wrap gap-1 text-xs font-semibold">
     <button class="flex items-center space-x-1 border border-gray-600 bg-blue-700 px-2 py-0.5">
        <span>LIVE</span>
      </button>
      <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-plus"></i>
        <span>Add CCTV</span>
      </button> 
      <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-play"></i>
        <span>PLAYBACK</span>
      </button>
      <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-file-export"></i>
        <span>EXPORT</span>
      </button>
      <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-eye"></i>
        <span>VIEW</span>
      </button>
      <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-question"></i>
        <span>HELP</span>
      </button>
    </div>

