{% load static %}
<div class="flex flex-wrap gap-1 text-xs font-semibold">
    <button class="flex items-center space-x-1 border border-gray-600 bg-blue-700 px-2 py-0.5">
        <span>LIVE</span>
    </button>
    <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-plus"></i>
        <span>Add CCTV</span>
    </button>  
    <button class="flex items-center space-x-1 border border-gray-600 px-2 py-0.5">
        <i class="fas fa-question"></i>
        <span>ABOUT</span>
    </button>
</div>

